<div
    {{ attributes }}
>
    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save'
        }
    }) }}
    {{ form_row(form.patreonCampaign) }}
    {{ form_row(form.votingTiers) }}
    {% if form.votingPower is defined %}
        <hr/>
        {{ form_row(form.votingPower) }}
        <hr/>
    {% endif %}
    {% if form.voteLimit is defined %}
        <hr/>
        {{ form_row(form.voteLimit) }}
        <hr/>
    {% endif %}
    {% if form.maxOptionAdd is defined %}
        <hr/>
        {{ form_row(form.maxOptionAdd) }}
        <hr/>
    {% endif %}
    {{ form_row(form.pollName) }}
    {{ form_row(form.endDate) }}
    {{ form_row(form.create) }}
    {{ form_end(form) }}
</div>
