{% extends 'base.html.twig' %}
{% macro mark_checked(pollOption, myVotes) %}
    {% for myVote in myVotes %}
        {% if myVote.option.id.equals(pollOptions.id) %}
            checked data-poll-vote-id-target="{{ myVote.id.toRfc4122 }}"
        {% endif %}
    {% endfor %}
{% endmacro %}
{% block title_header %}
    {{ poll.pollName }} {% if hasEnded %} (Poll closed){% endif %}
{% endblock %}
{% block title %}
    {{ poll.pollName }} {% if hasEnded %} (Poll closed){% endif %}
{% endblock %}
{% if voteConfig is not null %}
    {% set maxOptionAdd = voteConfig.maxOptionAdd %}
{% else %}
    {% set maxOptionAdd = 1 %}
{% endif %}
{% if voteConfig is not null %}
    {% set votePower = voteConfig.votingPower %}
{% else %}
    {% set votePower = 1 %}
{% endif %}
{% set voteCount = 0 %}

{% block body %}
    <div data-controller="poll"
         data-poll-poll-id-value="{{ poll.id.toRfc4122 }}"
         data-poll-max-option-add-value="{{ maxOptionAdd }}"
         data-poll-my-option-count-value="{{ myOptionCount }}"
         data-poll-vote-power-value="{{ votePower }}"
    >
        <fieldset>
            <legend class="sr-only">{{ poll.pollName }}</legend>
            <div class="space-y-5" data-poll-target="optionContainer">
                {% for pollOption in pollOptions %}
                    {% set voteCount = voteCount + pollOption.voteCount %}
                    <div class="relative flex items-start">
                        <div class="flex h-6 items-center">
                            <input {% if hasEnded%}disabled{% endif%} id="{{ pollOption.id.toRfc4122 }}" name="{{ pollOption.id.toRfc4122 }}" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" {% for myVote in myVotes %}{% if myVote.option.id.equals(pollOption.id) %}data-poll-vote-id="{{ myVote.id.toRfc4122 }}"{% endif %}{% endfor %} data-action="poll#voted" data-poll-target="option">
                        </div>
                        <div class="ml-3 text-sm leading-6">
                            <label data-vote-counter="{{ pollOption.voteCount }}" for="{{ pollOption.id.toRfc4122 }}" class="font-medium text-gray-900">{{ pollOption.optionName }} ({{ pollOption.voteCount }} Votes)</label>
{#                            <p id="{{ pollOption.id.toRfc4122 }}-description" class="text-gray-500">Get notified when someones posts a comment on a posting.</p>#}
                        </div>
                    </div>
                {% else %}
                    The are no options yet.
                {% endfor %}
            </div>
        </fieldset>
        {% if myOptionCount < maxOptionAdd or maxOptionAdd == 0 %}
            <div class="mt-5 sm:flex sm:items-center" data-poll-target="addOptionContainer">
                <div class="w-full sm:max-w-xs">
                    <label for="newOption" class="sr-only">New Option</label>
                    <input {% if hasEnded%}disabled{% endif%} data-action="keydown.enter->poll#addOption" data-poll-target="newOptionInput" type="text" name="newOption" id="newOption" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Your shiny new option">
                </div>
                <button {% if hasEnded%}disabled{% endif%}  data-action="click->poll#addOption" class="mt-3 inline-flex w-full items-center justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:ml-3 sm:mt-0 sm:w-auto">Add</button>
            </div>
        {% endif %}
    </div>
    <hr class="mt-5"/>
    <div class="mt-5 flex flex-col">
        {% if poll.endsAt is not null %}<span>Poll ends at: {{ poll.endsAt | date('d.m.Y - H:i:s') }} (UTC)</span>{% endif %}
        <span>This poll has {{ voteCount }} total votes.</span>
    </div>
    {% if app.user == poll.campaign.campaignOwner %}
        <div class="mt-10">
            <a href="{{ path('poll_marbles_download', {'poll': poll.id}) }}" target="_blank" class="mt-3 inline-flex w-full items-center justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:ml-3 sm:mt-0 sm:w-auto">Download Marbles CSV</a>
        </div>
    {% endif %}
{% endblock %}
